.ProjectSection {
  padding-top: 20px;
  padding-bottom: 20px;
}

.ProjectSectionContainer {
  margin: 0 auto;
  padding: 6px;
  width: 240px;
  border: 1px solid var(--main-color);
  border-radius: 6px;
}

.TitleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.Title {
  font-size: var(--mobile-title-font-size);
}

.LinkContainer {
  display: flex;
}

.Link {
  display: block;
  width: 20px;
  height: 20px;
}

.Link:not(:last-child) {
  margin-right: 6px;
}

.Technology {
  margin-bottom: 10px;
  font-style: italic;
  font-weight: 500;
  line-height: 1.3;
  font-size: var(--mobile-main-font-size);
}

.Description {
  text-align: justify;
  line-height: 1.3;
  font-size: var(--mobile-main-font-size);
}

@media screen and (min-width: 768px) {
  .ProjectSectionContainer {
    width: 420px;
  }
}
