.Description {
  width: 280px;
  margin: 0 auto;
  background-color: grey;
  height: 600px;
}

.Title {
  display: none;
}

.Position {
  margin-bottom: 20px;
  text-align: center;
  color: var(--main-color);
}

.Name {
  margin: 0;
  text-align: center;
  color: var(--main-color);
}

@media screen and (min-width: 768px) {
  .Description {
    flex-direction: row;
    width: 460px;
    margin: 0;
  }

  .Title {
    display: block;
    padding: 20px 0;
  }
}

@media screen and (min-width: 1280px) {
  .Description {
    width: 930px;
  }
}

@media (min-width: 1680px) {
  .Description {
    width: 1360px;
  }
}
