.Description {
  width: 280px;
  margin: 0 auto;
  background-color: grey;
  height: max-content;
}

.TitleWrapper {
  padding-top: 20px;
  font-size: var(--mobile-title-font-size);
}

.Position {
  margin-bottom: 12px;
  text-align: center;
  color: var(--main-color);
}

.Name {
  margin: 0;
  text-align: center;
}

.AboutWrapper {
  padding: 20px 0;
  margin: 0 auto;
  width: 240px;
  border-bottom: 1px solid var(--main-color);
}

.About {
  font-weight: 400;
  font-size: var(--mobile-main-font-size);
  text-align: justify;
}

.ProjectsTitle {
  padding-top: 20px;
  text-align: center;
  font-size: var(--mobile-title-font-size);
}

@media screen and (min-width: 768px) {
  .Description {
    flex-direction: row;
    width: 460px;
    margin: 0;
  }

  .Title {
    display: block;
    padding: 20px 0;
  }
}

@media screen and (min-width: 1280px) {
  .Description {
    width: 930px;
  }
}

@media (min-width: 1680px) {
  .Description {
    width: 1360px;
  }
}
